@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.font-anton {
  font-family: "Anton", sans-serif;
  font-weight: 800;
  font-style: normal;
}

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FC602E;
  --primary-dark: #EA562F;
  --primary-light: #F9704B;
  --secondary: #1E1E1E;
  --secondary-dark: #020202;
  --gray-light: #f7f7f7;
  --gray-medium: #EAEAEA;
  --gray-dark: #D3D3D3;
  --danger: #e74c3c;
  --success: #2ecc71;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
  --color-accent: var(--accent);
  --color-gray-light: var(--gray-light);
  --color-gray-medium: var(--gray-medium);
  --color-gray-dark: var(--gray-dark);
  --color-danger: var(--danger);
  --color-success: var(--success);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --gray-light: #2a2a2a;
    --gray-medium: #404040;
    --gray-dark: #a0a0a0;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
